<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weijin.recruitment.mapper.PositionMapper">

    <select id="selectPositionDetailById"
            resultType="com.weijin.recruitment.model.vo.position.PositionDetailVO">
        select ps.id,
               ps.name,
               ps.number,
               ps.mini_salary,
               ps.max_salary,
               ps.job_place,
               ps.education,
               ps.job_require,
               ps.create_time,
               ps.status,
               p.name as postName,
               c.name as companyName,
               c.address,
               c.logo,
               c.intro,
               c.user_id,
               rd.id  as rdId
        from t_position as ps
                 join t_post as p on ps.type = p.id
                 join t_company as c on ps.company_id = c.id
                 left join t_resume_delivery as rd on ps.id = rd.position_id and rd.user_id = #{userId}
        where ps.id = #{id}
          and ps.is_deleted = 0
    </select>
    <select id="pagePosition" resultType="com.weijin.recruitment.model.vo.position.PositionSimpleVO">
        select ps.id,
        ps.name,
        ps.mini_salary,
        ps.max_salary,
        ps.education,
        ps.job_place,
        c.name as companyName,
        c.logo,
        c.nickname as companyNickname,
        p.name as postName,
        ps.status
        from t_position as ps
        left join t_post as p on ps.type = p.id
        left join t_company as c on ps.company_id = c.id
        <trim prefixOverrides="and" prefix="where">
            <!-- 学历为0就是不限学历 -->
            <if test='edu != null and edu != 0'>
                ps.education = #{edu}
            </if>
            <if test='edu == null or edu == 0'>
                ps.education >= 1
            </if>
            <if test='address != null and address != ""'>
                and ps.job_place like concat('%',#{address},'%')
            </if>
            <if test='type != null'>
                and ps.type = #{type}
            </if>
            <if test='name != null and name != ""'>
                and (ps.name like concat('%',#{name},'%') or c.name like concat('%',#{name},'%'))
            </if>
            <if test="status != null">
                and ps.status = #{status}
            </if>
            <if test="companyId != null">
                and ps.company_id = #{companyId}
            </if>
            and ps.is_deleted = 0
        </trim>
        <if test="orderBy == 0">
            order by ps.create_time desc
        </if>
        <if test="orderBy == 1">
            order by rand()
        </if>

    </select>
    <select id="selectOpenPosition" resultType="java.lang.Integer">
        select sum(number)
        from t_position
        where status = 1
    </select>

    <select id="selectStatEdu" resultType="com.weijin.recruitment.model.vo.count.EduCountVO">
        select sum(case when education &lt;= 4 then 1 else 0 end) as juniorCollegeAndBelowCount,
               sum(case when education = 5 then 1 else 0 end)     as undergraduateCount,
               sum(case when education = 6 then 1 else 0 end)     as masterCount,
               sum(case when education = 7 then 1 else 0 end)     as doctorCount
        from t_position
        where status = 1
          and is_deleted = 0
    </select>

    <select id="selectStatPosition" resultType="com.weijin.recruitment.model.vo.count.PositionMonthCountVO">
        SELECT
        m.month,
        COALESCE(count, 0) AS count
        FROM
        (
        <!-- 生成最近六个月的所有月份 -->
        SELECT
        DATE_FORMAT(DATE_ADD(CURRENT_DATE(), INTERVAL -5 + n.n MONTH), '%Y-%m') AS month
        FROM
        (
        SELECT 0 AS n
        UNION ALL SELECT 1
        UNION ALL SELECT 2
        UNION ALL SELECT 3
        UNION ALL SELECT 4
        UNION ALL SELECT 5
        ) n
        ) m
        LEFT JOIN
        (
        <!-- 实际记录数查询 -->
        SELECT
        DATE_FORMAT(create_time, '%Y-%m') AS month,
        COUNT(*) AS count
        FROM
        t_position
        WHERE
        create_time >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH) and status = 1
        GROUP BY
        DATE_FORMAT(create_time, '%Y-%m')
        ) c ON m.month = c.month
    </select>
</mapper>
